//Nemi Sanghvi Styling css
// Theme colors
$white: #ffff;
$red: rgb(229, 9, 20);

.container {
    max-width: 1560px !important;
    width: 100% !important;
    margin: 0 auto;
    padding: 0px 30px;
}

.heade-area {
    background-color: black;
    .navbar {
        background-color: transparent;
    }
    .logo {
        .navbar-brand {
            img {
                max-width: 200px;
            }
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: rgba(255, 255, 255, 0.583);
                margin: 0px 30px;
                font-size: 18px;
                text-transform: capitalize;
                &:hover,
                &.active {
                    color: $white;
                }
            }
        }
    }
    .form-box {
        .form-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .subscribe {
                margin: 0px 15px;
            }
        }
    }
}
// banner
.baner-area {
    display: flex;
    justify-content: flex-start;
    .toggle-menu {
        position: absolute;
        top: 0;
        right: -48px;
        z-index: 10;
        .menu-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px;
            border: none;
            background-color: $red;
            box-shadow: 0px 0px 4px 4px #00000014;
            img {
                filter: invert(1);
                transition: all 1s ease;
                transform: rotate(180deg);
            }
        }
    }
    .sidebar {
        background-color: black;
        color: #fff;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1411764706);
        max-width: 300px;
        position: relative;
        top: 0;
        transition: all 0.2s ease-in-out;
        width: 100%;
        &.active {
            max-width: 0px;
        }
        &.active .side-menu {
            display: none;
        }
        &.active img {
            transform: rotate(0deg);
        }
        .side-menu {
            padding-top: 40px;
            .nav-item {
                .nav-link {
                    padding: 20px 20px;
                    background-color: transparent;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    &:hover,
                    &.active {
                        background-color: $red;
                        color: $white;
                    }
                }
            }
        }
    }
    .sidebar-content {
        overflow-y: auto;
        padding: 30px 30px;
        position: relative;
        transition: all 1s ease;
        width: 100%;
    }
    .bannerslider-box {
        .banner-slider {
            .slick-slide {
                .banner-image {
                    img {
                        width: 100%;
                        height: 834px;
                        object-fit: cover;
                    }
                }
            }
            .slick-dots {
                position: absolute;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.902);
                padding: 10px 0px;
            }
            .slick-dots li button:before {
                font-size: 38px;
                color: $white;
            }
        }
    }
}
// shows
.shows-area {
    .showsmain-box {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -20px -20px;
        .shows-part {
            width: 20%;
            padding: 20px 20px;
        }
    }
    .showswhole-box {
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        &:hover .shows-content {
            transform: translateY(0%);
        }
        &:hover img {
            transform: scale(1.2);
        }

        .shows-image {
            img {
                height: 300px;
                width: 100%;
                object-fit: cover;
                transition: all 0.3s ease;
            }
        }
        .shows-content {
            background-color: rgba(0, 0, 0, 0.725);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 40px;
            transform: translateY(100%);
            transition: all 0.3s ease;
            .nav-item {
                .nav-link {
                    color: white;
                    padding: 20px 0px;
                    font-size: 18px;
                    text-transform: capitalize;
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}
// trending shows
.trendingshows-area {
    padding: 50px 0px;
    .accordion-tab {
        .accordion-item {
            .accordion-header {
                .accordion-button {
                    background-color: black;
                    color: white;
                    font-weight: 500;
                    font-size: 16px;
                    padding: 20px 20px;
                    &:focus {
                        box-shadow: none;
                    }
                    &::after {
                        filter: invert(1);
                    }
                }
            }
            .accordion-collapse {
                .accordion-body {
                    font-size: 16px;
                    line-height: 30px;
                    padding: 30px 20px;
                    .trending-shows {
                        .trending-images {
                            margin-bottom: 10px;
                            img {
                                width: 400px;
                                height: 300px;
                                object-fit: cover;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
